@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/static/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/static/OpenSans-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/static/OpenSans-Light.ttf");
  font-weight: light;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

body,
html {
  font-family: "opensans", Arial, Helvetica, sans-serif;
  font-weight: light;
}
header.cabecalho div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container {
  max-width: 900px;
  margin: 0;
  padding: 15px;
  justify-content: center;
}

nav.menu {
  margin-top: 10px;
}

nav.menu {
  background-color: #01401c;
  padding: 15px;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s;
}

nav.menu ul li {
  list-style: none;
  display: inline-block;
}

nav.menu ul li {
  color: #cb1313;
  margin: 0 10px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.6s;
}

nav.menu ul li a:hover {
  color: #46953a;
}

main.principal div.container-titulo {
  width: 100%;
  background-color: #01401c;
  padding: 15px;
  text-align: center;
  justify-content: center;
}
main.principal div.container-titulo h1 {
  color: #dd0000;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  color: #46953a;
}

div.modulo {
  width: 100%;
  padding: 50px 0;
  justify-content: center;
  color: #46953a;
}

div.sobre {
  background-color: #01401c;
  justify-content: center;
}

h2.subtitulo,
div.container-btn {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.btn-saiba-mais {
  background-color: #46953a;
  padding: 15px;
  border: none;
  border-radius: 100px;
  transition: transform 0.3s;
}

.btn-saiba-mais:hover {
  transform: scale(1.2);
  filter: brightness(0.95);
}

.btn-saiba-mais a {
  text-align: center;
  text-decoration: none;
  color: #01401c;
  font-size: 20px;
}

/* Modulo Tabela */
table.tabela {
  width: 100%;
  border-collapse: collapse;
  justify-content: center;
}

table.tabela thead {
  background-color: #01401c;
  color: #46953a;
  justify-content: center;
}

table.tabela td,
table.tabela th {
  border: 1px solid #01401c;
  padding: 7px;
  justify-content: center;
}

/* Modulo Locais Interesse */
div.lista-locais ul {
  display: flex;
  justify-content: center;
}

div.lista-locais ul li {
  list-style: none;
  display: inline-block;
  color: #46953a;
  background-color: #01401c;
  padding: 7px 12px;
  margin: 0 3px;
  border-radius: 5px;
  justify-content: center;
}

footer.rodape {
  width: 100%;
  padding: 50px 0;
  background-color: #01401c;
  background-image: url(../assets/img/padrao-fundo-rodape.png);
  border-top: 6px solid #46953a;
  text-align: center;
  clear: both;
}

footer.rodape div.logo {
  margin-bottom: 30px;
  justify-content: center;
}

footer.rodape div.creditos {
  color: #fff;
  justify-content: center;
}

div.mapa {
  width: 100%;
}

div.mapa iframe {
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

div.notaveis {
  float: left;
  background-color: #01401c;
  margin-top: 20px;
}

div.notaveis ol {
  font-size: 30px;
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Pagina Sugestão */

div.sugestao-texto {
  text-align: center;
}

div.form-container {
  width: 100%;
  margin: 15px 0;
}

input.form {
  width: 100%;
  min-height: 40px;
  font-size: 17px;
  text-indent: 10px;
}

textarea#sugestao {
  width: 100%;
}

input.form-botao {
  width: 100%;
  padding: 15px 30px;
  background-color: #01401c;
  border: none;
  color: #46953a;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.3s;
}
